<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diucgpacalculator">

    <application
        android:allowBackup="true"
        android:icon="@drawable/grade"
        android:label="@string/app_name"
        android:roundIcon="@drawable/grade"
        android:supportsRtl="true"
        android:theme="@style/Theme.DIUCGPACALCULATOR">
        <activity android:name=".CourseWiseResultActivity"></activity>
        <activity android:name=".CourseWiseActivity" />
        <activity android:name=".SemesterWiseActivity" />
        <activity android:name=".SemesterWiseResult" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>